* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w1 {
  grid-column: span 1;
}

.w2 {
  grid-column: span 2;
}

.w3 {
  grid-column: span 3;
}

.h1 {
  grid-row: span 1;
}

.h2 {
  grid-row: span 2;
}

.h3 {
  grid-row: span 3;
}

.ph {
  display: grid;
  place-content: center;
}
